Body{
    background-color: rgba(0, 0, 0, 0.863);
    right: auto;
    left: auto;
}
h1{
    text-align: center;
    color: white;
    right: auto;
    left: auto; 
}
h2{
    text-align: center;
    color: white;
    font-size: 170%;
}
p{
    color: white;
    font-size: large;
}